---
title: Import Certificate and Delivery Verification
permalink: /businesses/strategic-goods-control/import-certificate-and-delivery-verification
third_nav_title: Strategic Goods Control
---

# Import Certificate and Delivery Verification

The  **Import Certificate and Delivery Verification (ICDV)**  complement the export control regime of the foreign exporting country.

It assures the exporting country that sensitive goods are delivered to approved end-users in Singapore, or that the goods are allowed to be re-exported through Singapore to approved end-users. The ICDV is also known as the International Import Certificate.

The ICDV is a 3-stage process:

1.  **Apply for an  [Import Certificate](https://singapore-customs-staging.netlify.app/businesses/strategic-goods-control/import-certificate-and-delivery-verification/import-certificate)** if:
    
    -   The goods imported into Singapore are controlled by the exporting country, or
    -   The exporting country requests for an Import Certificate
2.  **Apply for an import permit**  via  [TradeNet](https://www.tradexchange.gov.sg/tradexchange/default.portal?_nfpb=true&_pageLabel=main_tn&_nfls=false)  before importing the goods
    
3.  **Apply for a  [Delivery Verification](https://singapore-customs-staging.netlify.app/businesses/strategic-goods-control/import-certificate-and-delivery-verification/delivery-verification)**  after importing the goods, if the exporting country requests for such verification
    

![import certificate and delivery verification](https://www.customs.gov.sg/-/media/cus/images/business/import-certificate-and-delivery-verification.png)
